<template>
    <loading-view :loading="initialLoading">
        <form @submit.prevent="createClass()" enctype="multipart/form-data">
            <div class="mb-8">
                <!-- Heading -->
                <div class="flex items-center mb-3">
                    <h1 class="flex-no-shrink text-90 font-normal text-2xl">{{ __('Create :resource', {'resource': __('Klasse')}) }}</h1>
                </div>
                <!-- Input fields-->
                <div class="card">
                    <div class="flex border-b border-40" id="shepherd-class-create-card">
                        <div class="w-1/5 px-8 py-6">
                            <label for="name" class="inline-block text-80 pt-2 leading-tight">{{ __('Name der Klasse') }} <span class="text-danger text-sm">*</span></label>
                        </div>
                        <div class="py-6 px-8 w-1/2">
                            <input class="w-full form-control form-input form-input-bordered" id="name" v-model="singleClass.name" :placeholder="__('Name der Klasse')">
                            <div class="help-text help-text mt-2">
                                {{ __('Hilfetext Klasse Schuljahr') }}
                            </div>
                            <div v-if="hasErrors && errors.class_name" class="bg-red-500 text-white text-xs font-bold py-2 px-4 pr-0 rounded my-2 shadow-lg">
                                <p v-for="error in errors.class_name">
                                    {{ error }}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="flex border-b border-40">
                        <div class="w-1/5 px-8 py-6">
                            <label for="number_of_people" class="inline-block text-80 pt-2 leading-tight">{{ __('Schüleranzahl') }} <span class="text-danger text-sm">*</span></label>
                        </div>
                        <div class="py-6 px-8 w-1/2">
                            <input class="w-full form-control form-input form-input-bordered" id="number_of_people" v-model="singleClass.number_of_people" :placeholder="__('Schüleranzahl')">
                            <div class="help-text help-text mt-2">
                                {{ __('Hilfetext Klasse Schüleranzahl') }}
                            </div>
                            <div v-if="hasErrors && errors.number_of_people" class="bg-red-500 text-white text-xs font-bold py-2 px-4 pr-0 rounded my-2 shadow-lg">
                                <p v-for="error in errors.number_of_people">
                                    {{ error }}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="flex border-b border-40">
                        <div class="w-1/5 px-8 py-6 my-6">
                            <label for="people_list" class="inline-block text-80 pt-2 leading-tight">{{ __('Schülerliste importieren') }}</label>
                        </div>
                        <div class="py-6 px-8 w-1/2">
                            <div class="flex items-center mb-2">
                                <svg class="inline text-bold w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 10v6m0 0l-3-3m3 3l3-3m2 8H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z"></path>
                                </svg>
                                <h3 @click.prevent="downloadExcelTemplate" class="inline text-90 cursor-pointer font-bold ml-1" type="submit">{{ __('Excel-Vorlage runterladen') }}</h3>
                            </div>
                            <div class="help-text help-text mb-3">
                                {{ __('Hilfetext Excel-Vorlage runterladen') }}
                            </div>
                            <span class="form-file mr-4">
                                <input type="file" id="people_list" v-on:change="onFileChange($event)" class="form-file-input select-none">
                                <label for="people_list" class="form-file-btn btn btn-default btn-primary select-none">
                                    <span>{{ __('Choose File') }}</span>
                                </label>
                            </span>
                            <span class="text-90 text-sm select-none">
                                {{ this.fileName }}
                            </span>
                            <div class="help-text help-text mt-3">
                                {{ __('Hilfetext Excel hochladen') }}
                            </div>
                            <div class="help-text help-text mt-2">
                                {{ __('Hilfetext Excel Benutzername und passwort Schüler informieren') }}
                            </div>
                            <div v-if="hasErrors && errors.people_list" class="bg-red-500 text-white text-xs font-bold py-2 px-4 pr-0 rounded my-2 shadow-lg">
                                <p v-for="error in errors.people_list">
                                    {{ error }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Buttons -->
            <div class="flex items-center mt-6">
                <a class="btn btn-link dim cursor-pointer text-80 ml-auto mr-6" @click.prevent="goBack">{{ __('Cancel') }}</a>
                <button type="submit" id="shepherd-class-create-button" class="btn btn-default btn-primary inline-flex items-center relative">{{ __('Create :resource', {'resource': __('Klasse')}) }}</button>
            </div>
        </form>
    </loading-view>
</template>

<script>
export default {
    data () {
        return {
            singleClass: {
                name: '',
                number_of_people: '',
                people_list: '',
            },
            fileName: this.__('no file selected'),
            errors: {},
            initialLoading: true,
        }
    },
    methods: {
        /**
         * Create class
         */
        createClass() {
            const formdata = new FormData();
            formdata.append('class_name', this.singleClass.name);
            formdata.append('number_of_people', this.singleClass.number_of_people);
            formdata.append('people_list', this.singleClass.people_list);

            Nova.request().post('/nova-vendor/fwb-school-organisation/class', formdata)
                .then((response) => {
                    if (response.data.errors !== undefined && Object.keys(response.data.errors).length > 0) {
                        this.errors = response.data.errors;
                    } else {
                        this.$router.push({
                            name: 'fwb-school-organisation.classes'
                        });
                    }
                }).catch((error) => {
                    console.log(error);
                });
        },
        /**
         * Upload excel file
         */
        onFileChange(event) {
            var files = event.target.files || event.dataTransfer.files;
            if (!files.length) {
                return;
            }
            this.singleClass.people_list = files[0];
            this.fileName = files[0].name;
        },
        /**
         * Go back to the previous page
         */
        goBack() {
            this.$router.go(-1);
        },
        /**
         * Download excel template
         */
        downloadExcelTemplate() {
            Nova.request().get('/nova-vendor/fwb-school-organisation/excel-template', { responseType: 'arraybuffer' })
                .then((response) => {
                    let blob = new Blob([response.data], { type:'application/*' });
                    let link = document.createElement('a');
                    link.href = window.URL.createObjectURL(blob);
                    link.download = 'Teilnehmer_anmelden.xlsx';
                    link.click();
                }).catch((error) => {
                    console.log(error);
                });
        }
    },
    /**
     * Computed method for checking if errors exist
     */
    computed: {
        hasErrors() {
            return Object.keys(this.errors).length > 0
        }
    },
    mounted() {
        Nova.$emit('shepherd-create-class-page');
    },
    created() {
        this.initialLoading = false;
    }
}
</script>

<style scoped>

</style>
