<template>
    <modal @modal-close="handleClose">
        <form
            @submit.prevent="handleConfirm"
            class="bg-white rounded-lg shadow-lg overflow-hidden" style="width: 800px;"
        >
            <div>
                <!-- Heading -->
                <h2 class="border-b-2 border-40 py-8 px-8 text-90 font-normal text-xl">{{ __('zur Aktion :aktion anmelden', {'aktion': challengeName}) }}</h2>
                <!-- Input fields -->
                <div class="flex border-b border-40">
                    <div class="w-1/5 px-8 py-6">
                        <label for="className">{{ __('Klassenname für :aktion wählen', {'aktion': challengeName}) }} <span class="text-danger text-sm">*</span></label>
                    </div>
                    <div class="py-6 px-8 w-2/3">
                        <input type="text" class="w-full form-control form-input form-input-bordered" id="className" v-model="singleClass.name" :placeholder="__('Name der Klasse im Schuljahr :schuljahr', {'schuljahr': '2020/21'})">
                        <div class="help-text help-text mt-2">
                            {{ __('Hilfetext Klassenname für Aktion', {'klassenname': className, 'schuljahr': '2020/21'}) }}
                        </div>
                        <div v-if="hasErrors && errors.name" class="bg-red-500 text-white text-xs font-bold py-2 px-4 pr-0 rounded my-2 shadow-lg">
                            <p v-for="error in errors.name">
                                {{ error }}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="flex border-b border-40">
                    <div class="w-1/5 px-8 py-6">
                        <label for="number_of_people">{{ __('Schüleranzahl angeben') }} <span class="text-danger text-sm">*</span></label>
                    </div>
                    <div class="py-6 px-8 w-2/3">
                        <input type="text" class="w-full form-control form-input form-input-bordered" id="number_of_people" v-model="singleClass.numberOfPeople" :placeholder="__('Schüleranzahl')">
                        <div v-if="hasErrors && errors.numberOfPeople" class="bg-red-500 text-white text-xs font-bold py-2 px-4 pr-0 rounded my-2 shadow-lg">
                            <p v-for="error in errors.numberOfPeople">
                                {{ error }}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="flex border-b border-40">
                    <div class="w-1/5 px-8 py-6">
                        <label for="with_students">{{ __('Schüler mit zur Aktion anmelden') }}</label>
                    </div>
                    <div class="py-6 px-8 w-1/3">
                        <input type="checkbox" class="checkbox mt-2" id="with_students" v-model="singleClass.withStudents">
                        <div class="help-text help-text mt-2">
                            {{ __('Hilfetext Schüler mit anmelden') }}
                        </div>
                        <div v-if="hasErrors && errors.withStudents" class="bg-red-500 text-white text-xs font-bold py-2 px-4 pr-0 rounded my-2 shadow-lg">
                            <p v-for="error in errors.withStudents">
                                {{ error }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Buttons -->
            <div class="bg-30 px-6 py-3 flex">
                <div class="ml-auto">
                    <a data-testid="cancel-button" dusk="cancel-general-button" @click.prevent="handleClose" class="btn text-80 font-bold h-9 px-3 mr-3 btn-link">{{ __('Cancel') }}</a>
                    <button id="confirm-signup-button" ref="confirmButton" data-testid="confirm-button" type="submit" class="btn btn-default btn-primary inline-flex items-center relative">{{ __(':resource anmelden', {'resource': __('Klassen')}) }}</button>
                </div>
            </div>
        </form>
    </modal>
</template>

<script>

export default {
    name: "RegisterToChallengeModal",
    props: [
        'challengeName',
        'challengeId',
        'className',
        'classId'
    ],
    data() {
        return {
            singleClass: {
                name: '',
                numberOfPeople: '',
                withStudents: false,
            },
            errors: {}
        }
    },
    methods: {
        handleClose() {
            this.$emit('close');
        },
        handleConfirm() {
            Nova.request().post(`/nova-vendor/fwb-school-organisation/class/${this.classId}/signup/${this.challengeId}`, this.singleClass)
                .then((response) => {
                    if (response.data.errors != undefined && Object.keys(response.data.errors).length > 0) {
                        this.errors = response.data.errors;
                    } else {
                        this.$emit('confirm');
                    }
                }).catch((error) => {
                    console.log(error);
                });
        },
    },
    /**
     * Mount the component.
     */
    mounted() {
        this.$refs.confirmButton.focus();
    },
    computed: {
        hasErrors() {
            return Object.keys(this.errors).length > 0
        }
    }
}
</script>

<style scoped>

</style>
