<template>
    <loading-view :loading="initialLoading">
        <form @submit.prevent="createStudent()">
            <div class="mb-8">
                <!-- Heading -->
                <div class="flex items-center mb-3">
                    <h1 class="flex-no-shrink text-90 font-normal text-2xl">{{ __('TeilnehmerIn anlegen') }}</h1>
                </div>
                <!-- Personal details -->
                <div class="card">
                    <div class="flex border-b border-40" id="create-student-card">
                        <div class="w-1/5 px-8 py-6">
                            <label for="firstname" class="inline-block text-80 pt-2 leading-tight">{{ __('Vorname') }} <span class="text-danger text-sm">*</span></label>
                        </div>
                        <div class="py-6 px-8 w-1/2">
                            <input class="w-full form-control form-input form-input-bordered" v-model="student.firstname" id="firstname" :placeholder="__('Vorname')">
                            <div v-if="hasErrors && errors.firstname" class="bg-red-500 text-white text-xs font-bold py-2 px-4 pr-0 rounded my-2 shadow-lg">
                                <p v-for="error in errors.firstname">
                                    {{ error }}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="flex border-b border-40">
                        <div class="w-1/5 px-8 py-6">
                            <label for="lastname" class="inline-block text-80 pt-2 leading-tight">{{ __('Nachname') }} <span class="text-danger text-sm">*</span></label>
                        </div>
                        <div class="py-6 px-8 w-1/2">
                            <input class="w-full form-control form-input form-input-bordered" v-model="student.lastname" id="lastname" :placeholder="__('Nachname')">
                            <div v-if="hasErrors && errors.lastname" class="bg-red-500 text-white text-xs font-bold py-2 px-4 pr-0 rounded my-2 shadow-lg">
                                <p v-for="error in errors.lastname">
                                    {{ error }}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="flex border-b border-40">
                        <div class="w-1/5 px-8 py-6">
                            <label for="email" class="inline-block text-80 pt-2 leading-tight">{{ __('E-Mail Adresse') }}</label>
                        </div>
                        <div class="py-6 px-8 w-1/2">
                            <input type="email" class="w-full form-control form-input form-input-bordered" v-model="student.email" id="email" :placeholder="__('E-Mail Adresse')">
                            <div v-if="hasErrors && errors.email" class="bg-red-500 text-white text-xs font-bold py-2 px-4 pr-0 rounded my-2 shadow-lg">
                                <p v-for="error in errors.mail">
                                    {{ error }}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="flex border-b border-40">
                        <div class="w-1/5 px-8 py-6">
                            <label for="email" class="inline-block text-80 pt-2 leading-tight">{{ __('Benutzername') }}</label>
                        </div>
                        <div class="py-6 px-8 w-1/2">
                            <input class="w-full form-control form-input form-input-bordered" v-model="student.username" id="username" :placeholder="__('Benutzername')">
                            <div v-if="hasErrors && errors.username" class="bg-red-500 text-white text-xs font-bold py-2 px-4 pr-0 rounded my-2 shadow-lg">
                                <p v-for="error in errors.username">
                                    {{ error }}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="flex border-b border-40">
                        <div class="w-1/5 px-8 py-6">
                            <label for="password" class="inline-block text-80 pt-2 leading-tight">{{ __('Passwort') }} <span class="text-danger text-sm">*</span></label>
                        </div>
                        <div class="py-6 px-8 w-1/2">
                            <input type="password" class="w-full form-control form-input form-input-bordered" v-model="student.password" id="password" :placeholder="__('Passwort')">
                            <div class="help-text help-text mt-2">
                                {{ __('Hilftext passwort') }}
                            </div>
                            <div v-if="hasErrors && errors.password" class="bg-red-500 text-white text-xs font-bold py-2 px-4 pr-0 rounded my-2 shadow-lg">
                                <p v-for="error in errors.password">
                                    {{ error }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Address fields -->
                <div class="flex items-center mt-10 mb-3">
                    <h1 class="flex-no-shrink text-90 font-normal text-2xl">{{ __('Adressfelder') }}</h1>
                </div>
                <div class="card">
                    <div class="flex border-b border-40">
                        <div class="w-1/5 px-8 py-6">
                            <label for="phone" class="inline-block text-80 pt-2 leading-tight">{{ __('Telefonnummer') }}</label>
                        </div>
                        <div class="py-6 px-8 w-1/2">
                            <input class="w-full form-control form-input form-input-bordered" v-model="student.phonenr" id="phone" :placeholder="__('Telefonnummer')">
                            <div v-if="hasErrors && errors.phonenr" class="bg-red-500 text-white text-xs font-bold py-2 px-4 pr-0 rounded my-2 shadow-lg">
                                <p v-for="error in errors.phonenr">
                                    {{ error }}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="flex border-b border-40">
                        <div class="w-1/5 px-8 py-6">
                            <label for="street" class="inline-block text-80 pt-2 leading-tight">{{ __('Straße') }} <span class="text-danger text-sm">*</span></label>
                        </div>
                        <div class="py-6 px-8 w-1/2">
                            <input class="w-full form-control form-input form-input-bordered" v-model="student.street" id="street" :placeholder="__('Straße')">
                            <div v-if="hasErrors && errors.street" class="bg-red-500 text-white text-xs font-bold py-2 px-4 pr-0 rounded my-2 shadow-lg">
                                <p v-for="error in errors.street">
                                    {{ error }}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="flex border-b border-40">
                        <div class="w-1/5 px-8 py-6">
                            <label for="housenr" class="inline-block text-80 pt-2 leading-tight">{{ __('Hausnummer') }} <span class="text-danger text-sm">*</span></label>
                        </div>
                        <div class="py-6 px-8 w-1/2">
                            <input class="w-full form-control form-input form-input-bordered" v-model="student.housenr" id="housenr" :placeholder="__('Hausnummer')">
                            <div v-if="hasErrors && errors.housenr" class="bg-red-500 text-white text-xs font-bold py-2 px-4 pr-0 rounded my-2 shadow-lg">
                                <p v-for="error in errors.housenr">
                                    {{ error }}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="flex border-b border-40">
                        <div class="w-1/5 px-8 py-6">
                            <label for="postcode" class="inline-block text-80 pt-2 leading-tight">{{ __('PLZ') }} <span class="text-danger text-sm">*</span></label>
                        </div>
                        <div class="py-6 px-8 w-1/2">
                            <input class="w-full form-control form-input form-input-bordered" v-model="student.postcode" id="postcode" :placeholder="__('PLZ')">
                            <div v-if="hasErrors && errors.postcode" class="bg-red-500 text-white text-xs font-bold py-2 px-4 pr-0 rounded my-2 shadow-lg">
                                <p v-for="error in errors.postcode">
                                    {{ error }}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="flex border-b border-40">
                        <div class="w-1/5 px-8 py-6">
                            <label for="city" class="inline-block text-80 pt-2 leading-tight">{{ __('Stadt') }} <span class="text-danger text-sm">*</span></label>
                        </div>
                        <div class="py-6 px-8 w-1/2">
                            <input class="w-full form-control form-input form-input-bordered" v-model="student.city" id="city" :placeholder="__('Stadt')">
                            <div v-if="hasErrors && errors.city" class="bg-red-500 text-white text-xs font-bold py-2 px-4 pr-0 rounded my-2 shadow-lg">
                                <p v-for="error in errors.city">
                                    {{ error }}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div v-if="Object.keys(classes).length > 0" class="flex border-b border-40">
                        <div class="w-1/5 px-8 py-6">
                            <label for="class" class="inline-block text-80 pt-2 leading-tight">{{ __('Klasse/Gruppe') }}</label>
                        </div>
                        <div class="py-6 px-8 w-1/2">
                            <select class="form-control form-select w-full" v-model="student.organisation_id">
                                <option disabled value="">Bitte Klasse/Gruppe auswählen</option>
                                <option v-for="singleClass in classes"
                                        v-bind:value="singleClass.id"
                                >
                                    {{ singleClass.name }}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <!-- Buttons -->
                <div class="flex items-center mt-6">
                    <a class="btn btn-link dim cursor-pointer text-80 ml-auto mr-6" @click.prevent="goBack">{{ __('Cancel') }}</a>
                    <button type="submit" id="create-student-button" class="btn btn-default btn-primary inline-flex items-center relative">{{ __('Create :resource', {'resource': __('Teilnehmer')}) }}</button>
                </div>
            </div>
        </form>
    </loading-view>
</template>

<script>
export default {
    data () {
        return {
            student: {
                firstname: '',
                lastname: '',
                email: '',
                username: '',
                password: '',
                phonenr: '',
                street: '',
                housenr: '',
                postcode: '',
                city: '',
                organisation_id: ''
            },
            classes: {},
            errors: {},
            initialLoading: true,
        }
    },
    methods: {
        /**
         * Create single student
         */
        createStudent() {
            Nova.request().post('/nova-vendor/fwb-school-organisation/student', this.student)
                .then((response) => {
                    if (response.data.errors !== undefined && Object.keys(response.data.errors).length > 0) {
                        this.errors = response.data.errors;
                    } else {
                        this.$router.push({
                            name: 'fwb-school-organisation.class',
                            params: { id: this.student.organisation_id }
                        });
                    }
                }).catch((error) => {
                    console.log(error);
                });
        },
        /**
         * Get all classes for dropdown
         */
        getClasses() {
            Nova.request().get('/nova-vendor/fwb-school-organisation/classes-dropdown')
                .then((response) => {
                    this.classes = response.data;
                }).catch((error) => {
                    console.log(error);
                });
        },
        /**
         * Go to the previous page
         */
        goBack() {
            this.$router.go(-1);
        }
    },
    mounted() {
        Nova.$emit('shepherd-create-student-page');
    },
    created() {
        this.getClasses();
        this.student.organisation_id = this.$route.params.id;
        this.initialLoading = false;
    },
    /**
     * Computed method for checking if errors exist
     */
    computed: {
        hasErrors() {
            return Object.keys(this.errors).length > 0
        }
    }
}
</script>

<style scoped>

</style>
