<template>
    <modal @modal-close="handleClose">
        <form
            @submit.prevent="handleConfirm"
            class="bg-white rounded-lg shadow-lg overflow-hidden"
        >
            <div>
                <h2 class="border-b-2 border-40 py-8 px-8 text-90 font-normal text-xl">{{ __('Teilnehmer aus Excel importieren') }}</h2>
                <div class="flex border-b border-40">
                    <div class="w-1/5 px-8 py-6 my-6">
                        <label for="people_list" class="inline-block text-80 pt-2 leading-tight">{{ __('Schülerliste importieren') }}</label>
                    </div>
                    <div class="py-6 px-8 w-2/3">
                        <div class="flex items-center mb-2">
                            <svg class="inline text-bold w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 10v6m0 0l-3-3m3 3l3-3m2 8H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z"></path>
                            </svg>
                            <h3 @click.prevent="downloadExcelTemplate" class="inline text-90 cursor-pointer font-bold ml-1" type="submit">{{ __('Excel-Vorlage runterladen') }}</h3>
                        </div>
                        <div class="help-text help-text mb-3">
                            {{ __('Hilfetext Excel-Vorlage runterladen') }}
                        </div>
                        <span class="form-file mr-4">
                            <input type="file" id="people_list" v-on:change="onFileChange($event)" class="form-file-input select-none">
                            <label for="people_list" class="form-file-btn btn btn-default btn-primary select-none">
                                <span>{{ __('Choose File') }}</span>
                            </label>
                        </span>
                        <span class="text-90 text-sm select-none">
                            {{ this.fileName }}
                        </span>
                        <div class="help-text help-text mt-3">
                            {{ __('Hilfetext Excel hochladen') }}
                        </div>
                        <div class="help-text help-text mt-2">
                            {{ __('Hilfetext Excel Benutzername und passwort Schüler informieren') }}
                        </div>
                        <div v-if="hasErrors && errors.people_list" class="bg-red-500 text-white text-xs font-bold py-2 px-4 pr-0 rounded my-2 shadow-lg">
                            <p v-for="error in errors.people_list">
                                {{ error }}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="bg-30 px-6 py-3 flex">
                    <div class="ml-auto">
                        <a data-testid="cancel-button" dusk="cancel-general-button" @click.prevent="handleClose" class="btn text-80 font-bold h-9 px-3 mr-3 btn-link">{{ __('Cancel') }}</a>
                        <button id="confirm-signup-button" ref="confirmButton" data-testid="confirm-button" type="submit" class="btn btn-default btn-primary inline-flex items-center relative">{{ __('Teilnehmer aus Excel importieren') }}</button>
                    </div>
                </div>
            </div>
        </form>
    </modal>
</template>

<script>
export default {
    name: "ImportStudentsFromExcelModal",
    data () {
        return {
            people_list: '',
            errors: {},
            fileName: this.__('no file selected'),
        }
    },
    methods: {
        handleClose() {
            this.$emit('close');
        },
        handleConfirm() {
            const formdata = new FormData();
            formdata.append('people_list', this.people_list);
            Nova.request().post(`/nova-vendor/fwb-school-organisation/${this.$route.params.id}/students/excel-import`, formdata)
                .then((response) => {
                    if (response.data.errors != undefined && Object.keys(response.data.errors).length > 0) {
                        this.errors = response.data.errors;
                    } else {
                        this.$emit('confirm');
                    }
                }).catch((error) => {
                    console.log(error);
                });
        },
        /**
         * Upload excel file
         */
        onFileChange(event) {
            var files = event.target.files || event.dataTransfer.files;
            if (!files.length) {
                return;
            }
            this.people_list = files[0];
            this.fileName = files[0].name;
        },
        /**
         * Download excel template
         */
        downloadExcelTemplate() {
            Nova.request().get('/nova-vendor/fwb-school-organisation/excel-template', { responseType: 'arraybuffer' })
                .then((response) => {
                    let blob = new Blob([response.data], { type:'application/*' });
                    let link = document.createElement('a');
                    link.href = window.URL.createObjectURL(blob);
                    link.download = 'Teilnehmer_anmelden.xlsx';
                    link.click();
                }).catch((error) => {
                    console.log(error);
                });
        }
    },
    /**
     * Mount the component.
     */
    mounted() {
        this.$refs.confirmButton.focus();
    },
    computed: {
        hasErrors() {
            return Object.keys(this.errors).length > 0
        }
    }
}
</script>

<style scoped>

</style>
