<template>
    <div class="mb-8">
        <!-- Heading -->
        <div class="flex items-center mb-6">
            <heading class="flex">{{ __('Alle TeilnehmerInnen') }}</heading>
        </div>
        <!-- List of students -->
        <loading-view :loading="initialLoading">
            <div class="flex items-center mb-6">
                <router-link
                    v-if="!schoolLoading"
                    class="btn btn-default btn-primary ml-auto inline-flex items-center relative"
                    :to="{
                        name: 'fwb-school-organisation.student.create',
                        params: {
                            id: school.id
                        }
                    }"
                    :title="__('Create :resource', {'resource': __('Teilnehmer')})"
                >
                    {{ __('Create :resource', {'resource': __('Teilnehmer')}) }}
                </router-link>
            </div>
            <loading-card :loading="loading" class="card">
                <table v-if="responseDataExist"
                       class="table w-full table-default"
                       cellpadding="0"
                       cellspacing="0"
                       data-testid="resource-table"
                >
                    <thead>
                        <tr>
                            <th class="text-left">{{ __('id') }}</th>
                            <th class="text-left">{{ __('Vorname') }}</th>
                            <th class="text-left">{{ __('Nachname') }}</th>
                            <th class="text-left">{{ __('Schuljahr') }}</th>
                            <th class="text-left">{{ __('Aktuelle km') }}</th>
                            <th class="text-left">{{ __('Letzter eintrag') }}</th>
                            <th class="text-left">{{ __('Klasse') }}</th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(student, index) in students.data">
                            <td>
                                <router-link
                                    class="no-underline dim text-primary font-bold"
                                    :to="{
                                        path: `/resources/people/${student.id}`,
                                    }"
                                    :title="__('Person anzeigen')"
                                >
                                    {{ student.id }}
                                </router-link>
                            </td>
                            <td>{{ student.firstname }}</td>
                            <td>{{ student.lastname}}</td>
                            <td v-if="student.last_participated_challenge_year">{{ student.last_participated_challenge_year - 1 }} / {{ student.last_participated_challenge_year }}</td>
                            <td v-else-if="student.class_created_year">{{ student.class_created_year }}</td>
                            <td v-else>-</td>
                            <td v-if="student.challenge_statistics">
                                {{ student.challenge_statistics.km_total }} km
                            </td>
                            <td v-else>-</td>

                            <td v-if="student.latest_ride">
                                {{ student.latest_ride }}
                            </td>
                            <td v-else>-</td>

                            <td v-if="student.class_id && student.class_name">
                                <router-link
                                    class="no-underline dim text-primary font-bold uppercase"
                                    :to="{
                                        name: 'fwb-school-organisation.class',
                                        params: {
                                            id: student.class_id
                                        }
                                    }"
                                    :title="__('Person anzeigen')"
                                >
                                    {{ student.class_name }}
                                </router-link>
                            </td>
                            <td v-else>-</td>

                            <td class="td-fit text-right pr-6 align-middle">
                                <div class="inline-flex items-center">
                                    <span v-if="student.impersonation">
                                        <a class="cursor-pointer text-70 hover:text-primary"
                                           @click.prevent="impersonate(student)"
                                           :title="__('in Profil einloggen')"
                                        >
                                            <svg
                                                width="22"
                                                height="18"
                                                aria-hidden="true"
                                                xmlns="http://www.w3.org/2000/svg"
                                                viewBox="0 0 448 512"
                                            >
                                                <path
                                                    fill="currentColor"
                                                    d="M383.9 308.3l23.9-62.6c4-10.5-3.7-21.7-15-21.7h-58.5c11-18.9 17.8-40.6 17.8-64v-.3c39.2-7.8 64-19.1 64-31.7 0-13.3-27.3-25.1-70.1-33-9.2-32.8-27-65.8-40.6-82.8-9.5-11.9-25.9-15.6-39.5-8.8l-27.6 13.8c-9 4.5-19.6 4.5-28.6 0L182.1 3.4c-13.6-6.8-30-3.1-39.5 8.8-13.5 17-31.4 50-40.6 82.8-42.7 7.9-70 19.7-70 33 0 12.6 24.8 23.9 64 31.7v.3c0 23.4 6.8 45.1 17.8 64H56.3c-11.5 0-19.2 11.7-14.7 22.3l25.8 60.2C27.3 329.8 0 372.7 0 422.4v44.8C0 491.9 20.1 512 44.8 512h358.4c24.7 0 44.8-20.1 44.8-44.8v-44.8c0-48.4-25.8-90.4-64.1-114.1zM176 480l-41.6-192 49.6 32 24 40-32 120zm96 0l-32-120 24-40 49.6-32L272 480zm41.7-298.5c-3.9 11.9-7 24.6-16.5 33.4-10.1 9.3-48 22.4-64-25-2.8-8.4-15.4-8.4-18.3 0-17 50.2-56 32.4-64 25-9.5-8.8-12.7-21.5-16.5-33.4-.8-2.5-6.3-5.7-6.3-5.8v-10.8c28.3 3.6 61 5.8 96 5.8s67.7-2.1 96-5.8v10.8c-.1.1-5.6 3.2-6.4 5.8z"
                                                />
                                            </svg>
                                        </a>
                                    </span>&nbsp;&nbsp;&nbsp;
                                    <span class="inline-flex">
                                        <router-link
                                            class="cursor-pointer text-70 hover:text-primary"
                                            :to="{
                                                path: `/resources/people/${student.id}`,
                                            }"
                                            :title="__('Person anzeigen')"
                                        >
                                            <icon type="view" width="22" height="18" view-box="0 0 22 16" />
                                        </router-link>
                                    </span>&nbsp;&nbsp;&nbsp;
                                    <span class="inline-flex">
                                        <router-link
                                            class="cursor-pointer text-70 hover:text-primary"
                                            :to="{
                                                path: `/resources/people/${student.id}/edit?viaResource&viaResourceId&viaRelationship`,
                                            }"
                                            :title="__('Person bearbeiten')"
                                        >
                                            <icon type="edit" width="20" height="20" view-box="0 0 20 20" />
                                        </router-link>
                                    </span>&nbsp;&nbsp;&nbsp;
                                    <span class="inline-flex">
                                        <a @click.prevent="openDeleteStudentModal(student)"
                                           class="cursor-pointer text-70 hover:text-primary"
                                           :title="__('Profil löschen')"
                                        >
                                            <icon type="delete" width="20" height="20" view-box="0 0 20 20" />
                                        </a>
                                    </span>&nbsp;&nbsp;&nbsp;&nbsp;
                                </div>
                            </td>
                            <portal to="modals">
                                <transition name="fade">
                                    <delete-student-modal
                                        v-if="studentDeleteModalOpen"
                                        :student-name="deletingStudentName"
                                        @confirm="confirmDeleteStudentModal"
                                        @close="closeDeleteStudentModal"
                                    />
                                </transition>
                            </portal>
                        </tr>
                    </tbody>
                </table>
                <div v-else class="card">
                    <div class="relative">
                        <div class="flex justify-center items-center px-6 py-8">
                            <div class="text-center">
                                <svg
                                    class="mb-3"
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="65"
                                    height="51"
                                    viewBox="0 0 65 51"
                                >
                                    <path
                                        fill="#A8B9C5"
                                        d="M56 40h2c.552285 0 1 .447715 1 1s-.447715 1-1 1h-2v2c0 .552285-.447715 1-1 1s-1-.447715-1-1v-2h-2c-.552285 0-1-.447715-1-1s.447715-1 1-1h2v-2c0-.552285.447715-1 1-1s1 .447715 1 1v2zm-5.364125-8H38v8h7.049375c.350333-3.528515 2.534789-6.517471 5.5865-8zm-5.5865 10H6c-3.313708 0-6-2.686292-6-6V6c0-3.313708 2.686292-6 6-6h44c3.313708 0 6 2.686292 6 6v25.049375C61.053323 31.5511 65 35.814652 65 41c0 5.522847-4.477153 10-10 10-5.185348 0-9.4489-3.946677-9.950625-9zM20 30h16v-8H20v8zm0 2v8h16v-8H20zm34-2v-8H38v8h16zM2 30h16v-8H2v8zm0 2v4c0 2.209139 1.790861 4 4 4h12v-8H2zm18-12h16v-8H20v8zm34 0v-8H38v8h16zM2 20h16v-8H2v8zm52-10V6c0-2.209139-1.790861-4-4-4H6C3.790861 2 2 3.790861 2 6v4h52zm1 39c4.418278 0 8-3.581722 8-8s-3.581722-8-8-8-8 3.581722-8 8 3.581722 8 8 8z"
                                    />
                                </svg>
                                <h3 class="text-base text-80 font-normal mb-6">{{ __('Noch keine TeilnehmerInnen vorhanden') }}</h3>
                                <div>
                                    <router-link
                                        v-if="!schoolLoading"
                                        class="btn btn-sm btn-outline inline-flex items-center focus:outline-none focus:shadow-outline active:outline-none active:shadow-outline"
                                        :to="{
                                            name: 'fwb-school-organisation.student.create',
                                            params: {
                                                id: school.id
                                            }
                                        }"
                                        :title="__('Create :resource', {'resource': __('Teilnehmer')})"
                                    >
                                        {{ __('Create :resource', {'resource': __('Teilnehmer')}) }}
                                    </router-link>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <pagination-links
                    v-if="paginationShouldBeVisible"
                    :next="hasNextPage"
                    :previous="hasPreviousPage"
                    @page="selectPage"
                    :pages="totalPages"
                    :page="currentPage"
                    :per-page="perPage"
                    :resource-count-label="resourceCountLabel"
                    :current-resource-count="students.data.length"
                    :all-matching-resource-count="allMatchingResourceCount"
                >
                    <span
                        v-if="resourceCountLabel"
                        class="text-sm text-80 px-4 ml-auto"
                        :class="{
                            'ml-auto': paginationComponent == 'pagination-links',
                        }"
                    >
                        {{ resourceCountLabel }}
                    </span>
                </pagination-links>
            </loading-card>
        </loading-view>
    </div>
</template>

<script>
import DeleteStudentModal from './DeleteStudentModal.vue';

export default {
    data() {
        return {
            initialLoading: true,
            loading: true,
            schoolLoading: true,
            students: {
                data: ''
            },
            currentPage: '',
            perPage: '',
            totalPages: '',
            allMatchingResourceCount: 0,
            currentPageLoadMore: null,
            hasNextPage: '',
            hasPreviousPage: '',
            reloadKey: 0,
            school: null,
            guard: 'web',
            deletingStudentId: '',
            deletingStudentName: '',
            studentDeleteModalOpen: false,
        }
    },
    components: {
        DeleteStudentModal,
    },
    methods: {
        /**
         * Get all students in school
         */
        getStudents(page) {
            if (page) {
                var path = `/nova-vendor/fwb-school-organisation/students?page=${page}`;
            } else {
                var path = '/nova-vendor/fwb-school-organisation/students';
            }
            Nova.request().get(path)
                .then((response) => {
                    this.initialLoading = false;
                    this.loading = false;
                    this.students.data = response.data.data;
                    this.currentPage = response.data.current_page;
                    this.perPage = response.data.per_page;
                    this.totalPages = response.data.last_page;
                    this.allMatchingResourceCount = response.data.total;
                    this.hasNextPage = Boolean(
                        this.students && this.students.next_page_url
                    );
                    this.hasPreviousPage = Boolean(
                        this.students && this.students.prev_page_url
                    );
                    Nova.$emit('resources-loaded');
                }).catch((error) => {
                    console.log(error);
                });
        },
        /**
         * Get school
         */
        getSchool() {
            Nova.request().get('/nova-vendor/fwb-school-organisation/school')
                .then((response) => {
                    this.school = response.data;
                    this.schoolLoading = false;
                }).catch((error) => {
                    console.log(error);
                });
        },
        /**
         * Select the next page.
         */
        selectPage(page) {
            this.$router.push({ name: 'fwb-school-organisation.students', query: { page: page }}).catch({});
            this.initialLoading = true;
            this.getStudents(page);
        },
        /**
         * Redirect to impersonated page
         *
         * @param student
         */
        impersonate(student) {
            window.open(
                `/nova-impersonate/users/${student.id}/${this.guard}?redirect_to=${student.impersonate_url}`,
                "_self"
            );
        },
        /**
         * Open delete student modal
         */
        openDeleteStudentModal(student) {
            this.deletingStudentName = student.fullname;
            this.deletingStudentId = student.id;
            this.studentDeleteModalOpen = true;
        },
        /**
         * Close delete student modal
         */
        closeDeleteStudentModal() {
            this.studentDeleteModalOpen = false;
        },
        /**
         * Confirm delete student modal
         */
        confirmDeleteStudentModal() {
            Nova.request().delete(`/nova-vendor/fwb-school-organisation/student/${this.deletingStudentId}`)
                .then((response) => {
                    Nova.success(this.__('TeilnehmerIn erfolgreich gelöscht!'));
                    this.initialLoading = true;
                    this.loading = true;
                    this.getStudents();
                }).catch((error) => {
                    console.log(error);
                });
            this.studentDeleteModalOpen = false;
        }
    },
    computed: {
        /**
         * Decider if table of students should be visible
         *
         * @returns {boolean}
         */
        responseDataExist() {
            return this.students.data != undefined && (this.students.data.length > 0 || Object.keys(this.students.data).length > 0)
        },
        /**
         * Decider if pagination should be visible
         *
         * @returns {boolean}
         */
        paginationShouldBeVisible() {
            return this.students.data != undefined && this.allMatchingResourceCount > 25
        },
        /**
         * Resource count label for pagination
         *
         * @returns {string}
         */
        resourceCountLabel() {
            if (this.students.data != undefined) {
                const first = this.perPage * (this.currentPage - 1);
                const length = this.students.data.length || Object.keys(this.students.data).length;
                return (
                    `${Nova.formatNumber(first + 1)}-${Nova.formatNumber(
                        first + length
                    )} ${this.__('of')} ${Nova.formatNumber(this.allMatchingResourceCount)}`
                );
            } else {
                return null;
            }
        }
    },
    created() {
        this.getStudents();
        this.getSchool();
    },
}
</script>

